@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

#quiz-container {
  max-width: 100%;
  margin-top: 50px;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url("../images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh
}

.hidden {
  display: none;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 64px;
  margin-bottom: 30px;
  color: #fff;
}

#comedy-btn,
#action-btn,
#horror-btn {
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

#quiz-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#question-container {
  color: black;
  text-transform: none;
  margin-top: 20px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: lightseagreen;
}

.selected {
  background-color: lightseagreen;
  transition: transform .2s;
  transform: scale(1.2);
  margin-left: 30px;
  margin-right: 30px;
}

#current-category {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  text-transform: capitalize;
  background-color: #b63b2a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score-container,
#incorrect-container {
  width: fit-content;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
}

#submit-btn {
  background-color: #ecae4b;
  font-weight: bold;
}

#submit-btn:hover {
  background-color: #b63b2a;
}

#error {
  display: none;
  background-color: #b63b2a;
  color: #fff;
  text-align: center;
  border-radius: 35px;
  border: 10px #ecae4b solid;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 25%;
  height: 25%;
  overflow: auto;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorText {
  margin: 10px;
}